# SPDX-License-Identifier: Apache-2.0
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.

menu "Hexagon Options"
	depends on HEXAGON

config ARCH
	string
	default "hexagon"

config GEN_IRQ_VECTOR_TABLE
	default n

config ARCH_SUPPORTS_COREDUMP
	default y

config ARCH_SUPPORTS_COREDUMP_THREADS
	default y

config ARCH_SUPPORTS_COREDUMP_PRIV_STACKS
	default y

config ARCH_SUPPORTS_COREDUMP_STACK_PTR
	default y

config ARCH_HAS_GDBSTUB
	default y

source "arch/hexagon/core/Kconfig"

endmenu
