# Copyright (C) 2024 BeagleBoard.org Foundation
# Copyright (C) 2024 Dhruv Menon <dhruvmenon1104@gmail.com>

config SPI_OMAP
	bool "OMAP SPI driver"
	default y
	depends on DT_HAS_TI_OMAP_I2C_ENABLED
	help
	  Enable the SPI driver for TI K3 driver.
